* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
    font-family: 'Playfair Display', serif;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none solid rgb(196,59,104);
    color: inherit;
    font-family: 'Roboto', sans-serif;
}


/*HEADER START*/


.header {
    width: 100%;
    height: 87px;
    background-color: rgba(247,247,245,0.92);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 9999; 
}
.sticky {
	position: fixed;
    top:0;
    box-shadow: 0 0 8px 0 rgba(100,100,100,0.3);
}

.logo {
    width: 149px;
    height: 43px;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;  
    cursor: pointer;
}
.logo > img {
    width: 100%;
    object-fit: cover;
}
.line {
    height: 25px;
    width: 13px;
}
.icon__control {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 170px;
    height: 100%;
    margin-right: 40px;
}
.iconsearch__ctr {
    width: 25px;
    height: 25px;
}
.search__box input {
    width: 1058px;
    height: 61px;
    padding-left:21px;
    font-size: 22px;
}
.search__box input:focus {
    outline: none;
}
.search__box {
    width: 100%;
    height: 173px;
    background-color: rgb(207, 207, 205);
    box-shadow: 0 0 5px 0 rgba(100,100,100,0.4);
    position: absolute;
    right:0;
    top:-173px;
    z-index: 99;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    transition: 0.3s ease-in-out;
}
.iconsearch__ctr:hover >.search__box {
    top: 0;
}
.icon {
    width: 61px;
    height: 61px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.icon > img {
    width: 48%;
    height: 48%;
}
.search {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    cursor: pointer;
    position: relative;
}
.user {
    width: 22px;
    height: 22px;
    align-self: center;
    cursor: pointer;
}
.cart {
    width: 100%;
    object-fit: cover;   
}
.shopping__cart__ctr {
    width: 22px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    cursor: pointer;
}
.circle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: rgb(196,59,104);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -10px;
    margin-left: 21px;
}
span {
    display: block;
    position: absolute;
    color: whitesmoke;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;  
}
.box__menu {
    width: 670px;
    height: 90px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
}
.main__menu {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.drop {
    font-size:14px;
    padding:3px; 
}
.drop:hover {
    border-bottom: 1px solid plum;
}
.drop:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 73px;
    height: 15px;
    top: 50px;
    left:132px;
}
.drop:nth-child(3)::after {
    content: "";
    position: absolute;
    width: 97px;
    height: 15px;
    top: 50px;
    left:255px;
}
.drop:nth-child(4)::after {
    content: "";
    position: absolute;
    width: 65px;
    height: 15px;
    top: 50px;
    left:397px;
}
.product__drop a{
    transition: 0.1s ease-in-out;
}
.product__drop a:hover {
    color: rgb(196, 59, 104);
}
.product__drop {
    background-color: white;
    width: 240px;
    height: 205px;
    border-radius: 6px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: absolute;
    top: 65px;
    left: 116px;
    display: none;
    animation: itemdrop 0.3s ease-in-out;
}
.drop:nth-child(2):hover >.product__drop {
    opacity: 1;
    display: flex;
    animation-name: itemdrop;
}
.product__drop li {
    font-size: 14px;
    margin-left:12px;  
}
.brand__drop a{
    transition: 0.1s ease-in-out;
}
.brand__drop a:hover {
    color: rgb(196, 59, 104);
}
.brand__drop {
    background-color: white;
    width: 240px;
    height: 82px;
    border-radius: 6px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: absolute;
    top: 65px;
    left: 242px;
    display: none;
    animation: itemdrop 0.3s ease-in-out;
}
.drop:nth-child(3):hover >.brand__drop {
    opacity: 1;
    display: flex;
    animation-name: itemdrop;
}
.brand__drop li {
    font-size: 14px;
    margin-left:12px;
}
.service__drop a{
    transition: 0.1s ease-in-out;
}
.service__drop a:hover {
    color: rgb(196, 59, 104);
}
.service__drop {
    background-color: white;
    width: 240px;
    height: 82px;
    border-radius: 6px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: absolute;
    top: 65px;
    left: 386px;
    display: none;
    animation: itemdrop 0.3s ease-in-out;
}
.drop:nth-child(4):hover >.service__drop {
    opacity: 1;
    display: flex;
    animation-name: itemdrop;
}
.service__drop li {
    font-size: 14px;
    margin-left:12px;
}










@keyframes itemdrop{
    from {
        opacity: 0;
        top: 78px;
    }
    to {
        opacity: 0.9;
        top: 65px;
    }
}







/*MAIN CONTENT*/




/*CAROUSEL SLIDE*/

#out {
    width:100%;
    background-color: rgb(241,241,241);
    position: relative;
}
#out:hover .prev {
    opacity: 1;
}
#out:hover .next {
    opacity: 1;
}
.prev {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color:rgb(196,59,104);
    position: absolute;
    top: 190px;
    left:10px;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.prev > img {
    width: 60%;
}
.next {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color:rgb(196,59,104);
    position: absolute;
    top: 190px;
    right:15px;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.next > img {
    width: 60%;
}

.carousel__container {
    width: 88.77%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel__slide {
    width: 100%;
    display: flex;
}

.funky {
    min-width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.vagabond {
    min-width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


/*SLIDE VAGA*/


.left-vaga {
    height: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.title1 {
    font-size: 24px;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;
}
.title2 {
    color: #666666;
    font-size: 48px;
    font-weight: 400;
    text-align: left;
}
.buy-btn2 {
    height: 50px;
    width: 133px;
    background-color:#c43b68;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.buy-btn2:hover {
    background-color: rgb(49,49,49);
}
.buy-btn2 p {
    font-size:15px;
    color: white;
    font-family:'Roboto', sans-serif;
    padding:10px;
}
.right-vaga > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right-vaga {
    height: 100%;
    flex:1;
}



/*SLIDE FUNKY*/



.left-funky {
    height: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.right-funky > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right-funky {
    height: 100%;
    flex:1;
}
.buy-btn1 {
    height: 50px;
    width: 133px;
    background-color:#c43b68;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.buy-btn1:hover {
    background-color: rgb(49,49,49);
}
.buy-btn1 p {
    font-size:15px;
    color: white;
    font-family:'Roboto', sans-serif;
    padding:10px;
}




/*NEW PRODUCT*/



.category__area {
    width: 100%;
}
#product {
    width:93%;
    margin: 0 auto;
    padding:18px 0;
}
.thumb {
    width: 277px;
    height: 277px;
}
.thumb img {
    width: 100%;
}
.title__line {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: rgb(70,70,70);
    padding: 25px 0;
    font-family: 'Roboto', sans-serif;
}
.subtitle__line {
    text-align:center;
    font-size:18px;
    padding-bottom: 17px;
    font-family: 'Roboto', sans-serif;
}
.product__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item {
    width: 277px;
    height: 364px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 14px;
    cursor: pointer;
    position: relative;
}
.item:hover {
    box-shadow: 0 0 6px 0 rgba(49, 49, 49, 0.3)
}
.product__inner {
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.product__inner h4 {
    font-size: 17px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color:rgb(60,60,60)
}
.product__inner h4:hover {
    color:rgb(196,59,104);
}
.pro__price {
    height: 24px;
    width: 277px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
.price {
    font-size: 16px;
    font-weight: 700;
    color: #C43b68;
    font-family: 'Roboto', sans-serif;
}
.old__price {
    font-size: 13px;
    font-weight: 700;
    padding-right: 5px;
    text-decoration: line-through solid #888888;
    color: #888888;
    font-family: 'Roboto', sans-serif;
}
.product__action {
    width: 100%;
    height: 300px;
    position: absolute;
}
.icons1 {
    width: 0px;
    height: 50px;
    background-color: whitesmoke;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    right: 22px;
    top: 32px;
    transition: 0.15s ease-in-out;
    transition-delay: 0.2s;
}
.icons1 i {
    font-size: 18px;
    transition: 0.15s ease-in-out;
}
.icons1:hover {
    background-color: rgb(196, 59, 104);
    transition-delay: 0s;
}
.icons1:hover i {
    color: white;
}
.product__action:hover > .icons1 {
    opacity: 1;
    width: 50px;
}
.icons2 {
    width: 0px;
    height: 50px;
    background-color: whitesmoke;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    right:22px;
    top: 85px;
    transition: 0.15s ease-in-out;
    transition-delay: 0.3s;
}
.icons2 i {
    font-size: 18px;
    transition: 0.15s ease-in-out;
}
.icons2:hover {
    background-color: rgb(196, 59, 104);
    transition-delay: 0s;
}
.icons2:hover i {
    color: white;
}
.product__action:hover > .icons2 {
    opacity: 1;
    width: 50px;;
}
.icons3 {
    width: 0px;
    height: 50px;
    background-color: whitesmoke;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    right: 22px;
    top: 138px;
    transition: 0.15s ease-in-out;
    transition-delay: 0.4s;
}
.icons3 i {
    font-size: 18px;
    transition: 0.15s ease-in-out;
}
.icons3:hover {
    background-color: rgb(196, 59, 104);
    transition-delay: 0s;
}
.icons3:hover i {
    color: white;
}
  
.product__action:hover > .icons3 {
    opacity: 1;
    width: 50px;
}
  








.section__betw {
    width: 100%;
    height: 286px;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    width: 1200px;
    height: 166px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.content img {
    height: 100%;
    width: 50%;
    position: absolute;
    right:0;
    top:0;
}
.pink__button {
    width: 135px;
    height: 50px;
    background-color: rgb(196,59,104);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.pink__button:hover {
    background-color: rgb(49,49,49);
}
.pink__button p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color:white;
}
.big__title {
    font-size: 36px;
    font-weight:700;
    font-family: 'Roboto', sans-serif;
    color:rgb(70,70,70);
}










.fb__container {
    width:100%;
    height: 220px;
    background-color: rgb(243,243,243);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
}
.fb__carousel {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgb(243, 243, 243);
}

.fb__slide {
    width: 100%;
    display: flex;
}

.feedback-1 {
    min-width: 148%;
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:rgb(243, 243, 243);
}
.feedback-2 {
    min-width: 148%;
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(243, 243, 243);
}
.customer-pic {
    height: 100px;
    width: 100px;
    margin-left: 165px;
    margin-right: 40px;
}
.customer-pic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;

}
.fb-text {
    height: 100px;
    width: 500px;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
}
.fb-text p:first-child{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 500;
}
.fb-text p:nth-child(2){
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    text-decoration: solid rgb(155, 139, 139);
}
.feedback-1 .fb-text p:nth-child(2) {
    padding: 8px 0;
}
.feedback-2 .fb-text p:nth-child(2) {
    padding: 8px 0;
}








.news-item {
    width: 378px;
    height: 628px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 18px;
}
.product__list1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#product2 {
    width:83%;
    margin: 0 auto;
    padding:18px 0;
}
.news-thumb {
    width: 378px;
    height: 378px;
    cursor: pointer;
    overflow: hidden;
}
.news-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s;
}
.news-thumb img:hover{
    transform:scale(1.2);
}
.news-dates {
    width: 74px;
    height: 31px;
    border-bottom: 3px solid #000000;
}
.news-dates p{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: rgb(119,119,119);
}
.news-text{
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.news-text .big-title {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(30,30,30);
    line-height: 32px;
    cursor: pointer;
}
.news-text .big-title:hover{
    color:rgb(196,59,104)
}
.news-text .news-des {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: rgb(119,119,119);
    line-height: 25px;
}
.logo-slider {
    width: 100%;
    height: 185px;
    background-color: rgb(243,243,243);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-slider img{
    width: 96%;
}









.footer {
    height: 458px;
    width: 100%;
    background-color:rgb(17,17,17);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-wrap {
    width: 100%;
    height: 350px;
    background-color: rgb(17,17,17);
    display: flex;
    padding: 18px 33px;
}
.footer-wrap p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:rgb(164,164,164);
    line-height: 24px;
}
.about-us{
    width: 270px;
    height: 320px;
    background-color: rgb(17,17,17);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px;
}
.aboutus-content {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.aboutus-title {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color:rgb(255,255,255);
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 14px;
}
.aboutus-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:rgb(164,164,164);
    line-height: 24px;
}
.service {
    width: 250px;
    height: 214px;
    background-color: rgb(17,17,17);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px 150px;
}
.service-title {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color:rgb(255,255,255);
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 14px;
}
.service-content {
    width: 130px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.service-item{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:rgb(164,164,164);
    line-height: 24px;
    cursor: pointer;
}
.service-item:hover{
    color:rgb(196, 59, 104);
}
.account {
    width: 270px;
    height: 120px;
    background-color: rgb(17,17,17);
    display: flex;
    flex-direction: column;
    margin: 16px 0px;
}
.account-title {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color:rgb(255,255,255);
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 14px;
}
.account-content {
    width: 70px;
    height: 30px;
}
.account-item{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:rgb(164,164,164);
    line-height: 24px;
    cursor: pointer;
}
.account-item:hover{
    color: rgb(196, 59, 104);
}
.footer-lang-bct {
    width: 100%;
    height: 80px;
    background-color: rgb(0,0,0);
    display: flex;
    flex-direction:row;
    align-items: center;
    position: relative;
}
.language-copyright{
    width: 350px;
    height: 58px;
    background-color: rgb(0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left:50px;
}
.language img{
    width: 20px;
    height: 20px;
}
.language {
    width: 95px;
    height: 20px;
    background-color: rgb(0,0,0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.language p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:rgb(243, 243, 243);
}
.copyright{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color:rgb(243, 243, 243);
}
.footer-bct{
    width: 200px;
    height: 76px;
    position: absolute;
    right: 55px;
}
.footer-bct img{
    object-fit: cover;
    width: 100%;
}